# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js
/api-service/images
/api-service/download-image.js
# testing
/coverage

# production
*/build

test.js

# misc
.env
.env.sm4
.env.dev
.env.gdn
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.idea